@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
@import url('https://fonts.cdnfonts.com/css/mrrobot');

body {
    background-color: #0d1117;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'mrrobot', sans-serif;
    color: white;
    font-size: 5vw;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.button-container {
    display: flex;
    flex-direction: column; /* Boutons les uns au-dessus des autres */
    align-items: center;
    margin-top: 5vh;
}

.custom-button {
    background-color: #30363d;
    color: white;
    border: none;
    padding: 2vh 5vw;
    margin: 2vh 0;
    border-radius: 50px;
    font-size: 3vw;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #4b8cff;
}

/* Media query pour les écrans de taille inférieure à 414px (iPhone 11 portrait) */
@media only screen and (max-width: 414px) {
    .custom-button {
        width: 80vw; /* Largeur maximale pour les petits écrans */
        font-size: 5vw;
        margin: 2vh 0; /* Espacement entre les boutons */
    }
}
