@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
@import url('https://fonts.cdnfonts.com/css/mrrobot');

body {
    background-color: #0d1117;
    font-family: 'Poppins', sans-serif;
    margin: 0; /* Supprimer la marge par défaut */
    padding: 0; /* Supprimer le padding par défaut */
}

h1 {
    font-family: 'mrrobot', sans-serif;
    color: white;
    font-size: 5vw; /* Taille de la police basée sur la largeur de l'écran */
    text-align: center; /* Centrer le texte */
    margin-top: 5vh; /* Espacement du haut */
    margin-bottom: 5vh; /* Espacement du bas */
}

.button-container {
    display: flex;
    flex-direction: column; /* Placer les boutons l'un au-dessus de l'autre */
    align-items: center; /* Centrer horizontalement */
    margin-top: 5vh; /* Espacement du haut */
}

.custom-button {
    background-color: #30363d;
    color: white;
    border: none;
    padding: 2vh 5vw; /* Utiliser des unités relatives pour le rembourrage */
    margin: 2vh 0; /* Espacement entre les boutons */
    border-radius: 50px;
    font-size: 3vw; /* Taille de la police basée sur la largeur de l'écran */
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #4b8cff;
}

/* Media query pour les écrans de taille inférieure à 414px (la largeur de l'iPhone 11 en mode portrait) */
@media only screen and (max-width: 414px) {
    h1 {
        font-size: 8vw; /* Taille de police plus grande pour les écrans plus petits */
    }

    .custom-button {
        padding: 3vh 5vw; /* Ajuster le rembourrage pour les écrans plus petits */
        font-size: 5vw; /* Ajuster la taille de police pour les écrans plus petits */
    }
}
