@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
@import url('https://fonts.cdnfonts.com/css/mrrobot');
@import url('https://fonts.cdnfonts.com/css/withheld-data');
@import url('https://fonts.cdnfonts.com/css/ubuntu-mono');

body {
    background-color: #0d1117;
    font-family: 'Ubuntu Mono', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Withheld Data', sans-serif;
    color: red;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.custom-img {
    width: 50%;
    border-radius: 15px;
}

.logo {

    width: 450px;
    height: 300px;
}
.custom-table {
    border-collapse: collapse;
    width: 60%;
    overflow: hidden;
    margin-top: 20px;
}

.custom-table th, .custom-table td {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    color: white;
}

.custom-table th {
    background-color: #30363d;
}

.custom-table tbody td {
    font-family: 'Ubuntu Mono', sans-serif;
    background-color: #0d1117;
}

.custom-table tr:hover td {
    font-family: 'Ubuntu Mono', sans-serif;
    background-color: #3c3f42;
    transition: background-color 0.3s;
}

.custom-table td:hover {
    font-family: 'Ubuntu Mono', sans-serif;
    cursor: pointer;
    background-color: #4b8cff;
    transition: background-color 0.3s;
}

.select-label {
    color: white;
    font-family: 'Ubuntu Mono', sans-serif;
}
